DB_HOST=localhost
DB_PORT=your_port_number
DB_NAME=booklend
DB_USERNAME=your_username
DB_PASSWORD=your_password
frontend.url=http://localhost:<your_port>
imagekit.publicKey=your_public_key
imagekit.privateKey=your_private_key
imagekit.urlEndpoint=https://ik.imagekit.io/<your_id>/